// logo
a {
  &.logo {
    text-decoration: none;
    
    &:before {
      content: none;
    }
  }
}

.logo {
  position: relative;
  font-family: 'Righteous', cursive;
  color: #ddd;
  border: 1px solid;
  display: inline-block;
  text-align: center;
  padding: 0;
  border-radius: 25% 0 25% 0;
  line-height: 54px;
  font-weight: 700;
  font-size: 40px;
  height: 54px;
  width: 54px;
  
  span {
    &:last-child {
      margin-left: -16px;
    }
  }
}
