// main
.ok-main {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: auto;
  grid-template-areas: '. first first first first first first first first second';
  margin: 50px 0 25px;

  @media (min-width: 851px) {
    margin: 0;
  }
  @media (min-width: 1200px) {
    grid-template-areas: 'second . first first first first first first . .';
  }
  @media (min-width: 1440px) {
    grid-template-areas: 'second . . first first first first . . .';
  }

  .ok-container {
    @media (max-width: 850px) {
      > div {
        margin-bottom: 20px;
      }
    }
  }

  .ok-anniversary {
    position: absolute;
    animation: rotate 30s infinite linear;

    path {
      fill: #777 !important;
    }

    @media (max-width: 849px) {
      top: 70px;
      width: 30vw;
      right: -15vw;
      transform: translateX(-50%);
    }

    @media (min-width: 850px) {
      top: 0;
      left: -5vw;
      width: 15vw;
    }

    &:hover {
      cursor: pointer;

      path {
        fill: var(--main-color) !important;
      }
    }
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
