// main
.ok-main {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    ". first first first first first first first first .";
  align-items: center;
  margin: 50px 0;
  
  @media (min-width: 851px) {
    margin: 0;
  }
  @media (min-width: 1200px) {
    grid-template-areas:
      ". . . first first first first . . .";
  }
  
  .ok-container {
    @media (max-width: 850px) {
      > div {
        margin-bottom: 20px;
      }
    }
  }
}
