// Variables.
$white: #fff;
$dark-mode: linear-gradient(to right, #414345, #232526);
$grey-logo: #ddd;
$grey-light: #999;
$grey-middle: #777;
$grey-lines: rgba(186, 186, 186, 0.5);
$grey-main-cta: #555;
$main: #F08080;
$background-color: $white;

* {
  box-sizing: border-box;
  &::before, &::after {
    box-sizing: border-box;
  }
}

body {
  margin: 0;
  font-family: 'Comfortaa', cursive;
  background: $background-color;
}

.v-link {
  color: #999;
  position: relative;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
  line-height: 1;
  display: inline-block;
  z-index: 1;

  &.active {
    padding: 0 20px 0 10px;
    background: linear-gradient(to right, $white, #eee);
    border-radius: 0 0 10px;

    &:before {
      max-width: calc(100% - 30px);
      left: 10px;
    }
  }
  
  &:before {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #999;
    position: absolute;
    left: 0;
    bottom: 1px;
    transition: 1.3s cubic-bezier(0.65,0,.076,1);
    z-index: 0;
  }
  
  &:after {
    content: "";
    width: 20%;
    height: 30%;
    background-color: transparent;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.75s cubic-bezier(0.65,0,.076,1);
    z-index: 0;
  }
  
  &:hover {
    &:before {
      content: "";
      width: 0;
    }
    
    &:after {
      content: "";
      width: 70%;
      background-color: $main;
    }
  }
  
  &.logo {
    &:after {
      height: 15%;
    }
  }

  &.social {
    transition: none;
    color: $grey-main-cta;
    font-size: 22px;
    padding: 0 5px;
    
    &:hover {
      &.instagram {
        color: #0d1a2b;
      }
      &.linkedin {
        color: #0077b5;
      }
      &.facebook {
        color: #3b5998;
      }
      &.drupal {
        color: #0077c0;
      }
      &.codepen {
        color: #00112c;
      }
      &.telegram {
        color: #0088cc;
      }
      &.skype {
        color: #00aff0;
      }
    }
    
    &:before,
    &:after {
      content: none;
    }
  }
}

.container {
  display: grid;
  grid-template-rows: 100px auto 250px;
  overflow-y: hidden;
  z-index: 1;
  position: relative;
  min-height: 100vh;
  
  @media (min-width: 851px) {
    grid-template-rows: 100px auto 100px;
  }
}

// animated-grid
.animated-grid-container {
  display: grid;
  position: absolute;
  grid-template-columns: repeat(10, 1fr);
  min-height: 100vh;
  height: 100%;
  width: 100vw;
  animation-name: lines;
  animation-duration: 2s;
  opacity: 0.3;
  z-index: 2;
}

.line {
  border-right: 1px solid rgba(186, 186, 186, 0.5);
  transition: 1s ease-out;
  
  &:nth-child(2n) {
    border-color: transparent;
  }
  
  &:nth-child(3),
  &:nth-child(7) {
    @media (max-width: 850px) {
      border-color: transparent;
    }
  }
  
  &:last-child {
    border: none;
  }
}

@keyframes lines {
  from {height: 0.1vh;}
  to {height: 100vh;}
}

// basic
.v-cell {
  position: relative;
  z-index: 3;
  
  &.first {
    grid-area: first;
  }
  &.second {
    grid-area: second;
  }
  &.third {
    grid-area: third;
  }
  &.fourth {
    grid-area: fourth;
  }
  &.fifth {
    grid-area: fifth;
  }
  &.sixth {
    grid-area: sixth;
  }
  &.seventh {
    grid-area: seventh;
  }
  &.eighth {
    grid-area: eighth;
  }
  &.ninth {
    grid-area: ninth;
  }
  &.tenth {
    grid-area: tenth;
  }
}

.v-show {
  &.mobile {
    @media (max-width: 850px) {
      display: flex;
    }
    @media (min-width: 851px) {
      display: none;
    }
  }
  &.tablet {
    @media (min-width: 851px) {
      display: flex;
    }
    @media (max-width: 850px) {
      display: none;
    }
  }
  &.desktop {
    @media (min-width: 1200px) {
      display: flex;
    }
  }
}

.v-hide {
  &.mobile {
    @media (max-width: 850px) {
      display: none;
    }
    @media (min-width: 851px) {
      display: flex;
    }
  }
  &.tablet {
    @media (min-width: 851px) {
      display: none;
    }
  }
  &.desktop {
    @media (min-width: 1200px) {
      display: none;
    }
  }
}

// header
.v-header {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    "first first . . second second . . third third";
  text-align: center;
  align-items: center;
  
  @media (min-width: 1200px) {
    grid-template-areas:
      "first . . . second second . . . third";
  }
  
  .v-cell {
    color: #777;

    &.first {
      .v-link-header {
        @media (max-width: 850px) {
          .v-show {
            &.mobile {
              font-size: 30px;
            }
          }
        }
      }
    }
  }

  .v-link-header {
    display: inline-block;

    @media (max-width: 850px) {
      &:before,
      &:after {
        content: none;
      }

      .v-show {
        &.mobile {
          content: "i";
          font-family: 'Niconne', cursive;
          justify-content: center;
          font-size: 45px;
        }
      }
    }
  }
}

// main
.v-section--main {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: auto;
  grid-template-areas: ". first first first first first first first first .";
  align-items: center;
  padding: 50px 0;

  @media (min-width: 1200px) {
    grid-template-areas:
      ". . . first first first first . . .";
  }
  
  &.wide {
    @media (min-width: 1200px) {
      grid-template-areas:
        ". first first first first first first first first .";
    }
  }
  
  &.extra-section {
    @media (min-width: 1200px) {
      grid-template-areas:
        ". . first first first first first first . .";
    }
  }
}

// main
//.v-section--main--wide {
//  display: grid;
//  grid-template-columns: repeat(10, 1fr);
//  grid-template-rows: auto;
//  grid-template-areas: ". first first first first first first first first .";
//  align-items: center;
//
//  @media (min-width: 1200px) {
//    grid-template-areas:
//      ". first first first first first first first first .";
//  }
//}
//
//// main
//.v-section--main--extra-section {
//  display: grid;
//  grid-template-columns: repeat(10, 1fr);
//  grid-template-rows: auto;
//  grid-template-areas: ". first first first first first first first first .";
//  align-items: center;
//
//  @media (min-width: 1200px) {
//    grid-template-areas:
//      ". . first first first first first first . .";
//  }
//}

// main
.v-main {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    ". first first first first first first first first .";
  align-items: center;
  margin: 50px 0;
  
  @media (min-width: 851px) {
    margin: 0;
  }
  @media (min-width: 1200px) {
    grid-template-areas:
      ". . . first first first first . . .";
  }
}

.v-cell {
  color: #777;

  .v-title {
    font-family: 'Comfortaa', cursive;
    font-weight: 300;
    font-size: 30px;
    margin-bottom: 25px;

    @media (min-width: 851px) {
      font-size: 40px;
    }
  }
  
  .v-title--bold-sm {
    font-family: 'Comfortaa', cursive;
    font-weight: 700;
    line-height: 1.5;
    font-size: 24px;
    margin-bottom: 25px;
    
    @media (min-width: 851px) {
      font-size: 30px;
    }
  }
  
  .v-heading {
    font-size: 45px;
    font-weight: bold;
    font-family: 'Patua One', cursive;
    line-height: 0.9;

    @media (min-width: 851px) {
      font-size: 65px;
    }
    @media (min-width: 1200px) {
      font-size: 75px;
    }
  }
  
  .v-text {
    line-height: 1.5;
    font-size: 16px;
  }
}

// footer
.v-footer {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  
  @media (min-width: 851px) {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
      "fourth first first second second second second third third .";
    position: relative;
    align-items: center;
  }
  
  .v-cell {
    z-index: 3;
    color: #777;
    font-size: 14px;
  
    &.first {
      color: #ccc;
      font-size: 13px;
  
      @media (max-width: 850px) {
        order: 3;
      }
    }
    
    &.second {
      text-align: center;
      display: flex;
      justify-content: space-around;
  
      @media (max-width: 850px) {
        order: 2;
        flex-direction: column;
        
        > div {
          margin-bottom: 20px;
        }
      }
    }
    
    &.third {
      text-align: right;
  
      @media (max-width: 850px) {
        order: 1;
        margin-bottom: 20px;
      }
    }
  }
  
  .brand-name {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 0;
  
    @media (min-width: 851px) {
      left: 10vw;
    }
    
    img {
      width: 100%;
      max-width: 100vw;
      display: flex;
      align-self: flex-end;
  
      @media (min-width: 851px) {
        max-width: 80vw;
      }
    }
  }
}

// logo
a {
  &.logo {
    text-decoration: none;
  
    &:before {
      content: none;
    }
  }
}

.logo {
  position: relative;
  font-family: 'Righteous', cursive;
  color: #ddd;
  border: 1px solid;
  display: inline-block;
  text-align: center;
  padding: 0;
  border-radius: 25% 0 25% 0;
  line-height: 54px;
  font-weight: 700;
  font-size: 40px;
  height: 54px;
  width: 54px;
  
  span {
    &:last-child {
      margin-left: -16px;
    }
  }
}

.cv-container {
  margin-top: 50px;
  
  @media (max-width: 850px) {
    > div {
      margin-bottom: 20px;
    }
  }
  @media (min-width: 851px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

// main cta
.v-cta {
  position: relative;
  cursor: pointer;
  outline: none;
  border: 0;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: 14px;
  display: inline-block;
  width: 100%;
  max-width: 270px;

  &:before {
    content: none;
  }

  // hover
  &:hover {
    &:after {
      content: none;
    }

    .circle {
      &:before {
        width: 100%;
        background-color: $main;
      }

      .button-text {
        color: $white;
      }
    }

    .icon-wrapper {
      .icon {
        &.download {
          transform: rotate(90deg);

          &:before {
            left: calc(50% + 4px);
          }
          &:after {
            background-color: $white;
            width: 20px;
          }
        }

        &.letter {
          transform: rotate(90deg);

          &:before {
            left: calc(50% - 6px);
            width: 11px;
            height: 11px;
          }
          &:after {
            background-color: transparent;
            border-color: $white;
          }
        }

        @media (min-width: 851px) {
          &.download,
          &.letter {
            transform: translateX(10px) rotate(90deg);
          }
        }
      }
    }
  }

  // static
  .circle {
    height: 48px;
    position: relative;
    display: flex;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      border-radius: 26px;
      width: 48px;
      height: 48px;
      background-color: #555555;
      transition: all 0.5s cubic-bezier(0.65,0,.076,1);
    }
  }

  .icon-wrapper {
    position: relative;

    .icon {
      position: relative;
      min-width: 48px;
      height: 48px;
      display: inline-block;

      &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: calc(50% - 2px);
        width: 10px;
        height: 10px;
        border-top: 2px solid $white;
        border-right: 2px solid $white;
        transform: translate(-50%, -50%) rotate(45deg);
      }

      &.download {
        transition: all 0.5s cubic-bezier(0.65,0,.076,1);

        &:before {
          transition: all 0.2s ease-in;
        }
        &:after {
          content: '';
          position: absolute;
          width: 10px;
          height: 2px;
          background-color: transparent;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          transition: width 0.2s ease-in-out;
        }
      }
      &.letter {
        transition: all 0.5s cubic-bezier(0.65,0,.076,1);

        &:before {
          transition: all 0.2s ease-in;
        }
        &:after {
          content: '';
          position: absolute;
          top: 50%;
          width: 15px;
          height: 20px;
          border: 2px solid transparent;
          left: 50%;
          transform: translate(-50%, -50%);
          transition: border 0.2s ease-in-out;
        }
      }
    }
  }

  .button-text {
    position: relative;
    display: inline-block;
    margin-left: 10px;
    padding: 0 48px 0 0;
    color: $grey-main-cta;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    transition: all 0.5s cubic-bezier(0.65,0,.076,1);
  }
}

// back-to-home component.
.back-to-home {
  margin: 20px 0;
}

.text-center {
  text-align: center;
}

// about page
.container-2col {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-template-areas: ". first first first first first first first first .";
  align-items: center;
  padding: 100px 0;
  
  @media (min-width: 1200px) {
    grid-template-areas:
      "first second";
  }
  
  div {
    
    &:first-child {
      display: flex;
      justify-content: center;
    }
  }
  
  img {
    filter: drop-shadow(2px 4px 6px black) opacity(0.8);
    max-width: 20vw;
    border-radius: 26px;
  }
}

.v-page-title {
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  margin: 50px 0 25px;
  position: relative;
  
  &:after {
    content: "";
    position: absolute;
    top: -50px;
    height: 40px;
    width: 1px;
    left: 50%;
    transform: translateX(-50%);
    background: #f08080;
  }
}

.career--section {
  padding: 100px 0;
  display: flex;
  flex-direction: column;
}

.career--items {
  //background: linear-gradient(rgb(254, 250, 246) 2.42%, rgb(253, 245, 238) 100%);
  background: linear-gradient(rgba(254, 250, 246, 0.5) 2.42%, rgba(241, 241, 241, 0.5) 100%);
  border-radius: 0 0 26px 26px;
  padding: 25px 0;
  
  .career--item {
    height: 65px;
    line-height: 65px;
    //display: flex;
    //justify-content: space-between;
    display: grid;
    grid-template-columns: 250px 1fr auto;
    padding: 0 5vw;
  }
}
